<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:dimitar@dchakarov.com" target="_blank">dimitar@dchakarov.com</a></p>
<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/gimly" target="_blank">@gimly</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/dchakarov/" target="_blank">@dchakarov</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/dchakarov" target="_blank">linkedin.com/in/dchakarov</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://dchakarov.com/" target="_blank">dchakarov.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:07752061818" target="_blank">07752061818</a></p>
